<ul id="main-nav">
	<li>Home |</li>
	<li><%= link_to "Tutor", tutors_path %> |</li>
	<li><%= link_to "Category", categories_url %> |</li>
	<li><%= link_to "Textbook", textbooks_url %> |</li>
	<li><%= link_to "Designatory", designatories_url %> |</li>
	<li><%= link_to "Skillset", skillsets_url %></li>
</ul>